// Global
$master-family : "Arial";
$master-family-weight: normal;
$master-txt-color : #000;
$master-bg-color : #fff;

// Cookies bar
$cookie-bg-color: #000;
$cookie-txt-color : #fff;

// Message top
$message-top-bg-color: #fff;
$message-top-report-color: #4c8a3d;
$message-top-error-color: #ff0000;